/* Defaults: */
::selection {
    background: #005ca2;
    color: #fff;
}

a {
    color: #005ca2;
    text-decoration: none;
}

select {
    border: 1px solid #ccc;
    font-size: 100%;
    padding: 8px;
}

/* Loading: */
.spinner {
    animation: spin 700ms linear infinite;
    border-radius: 50%;
}

#app > .spinner {
    border: 8px solid silver;
    border-top: 8px solid #005ca2;
    bottom: 0;
    height: 48px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 48px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

/* Layout: */
body {
    background: rgb(245, 245, 245);
    font: normal 15px sans-serif;
    margin: 0;
}

#wrapper {
    min-height: calc(100vh - 64px);
}

#header {
    background: #fff;
    border-bottom: 1px solid #ccc;
    height: 64px;
}

    #header > .container {
        align-items: center;
        display: flex;
        height: inherit;
    }

.container {
    margin: 0 auto;
    max-width: 90%;
    width: 1080px;
}

#logo {
    font-size: 125%;
}

nav {
    margin-left: 16px;
}

    nav > ul {
        padding: 0;
    }

        nav > ul > li {
            display: inline-block;
            margin-left: 32px;
        }

main {
    padding-top: 16px;
}

h1 {
    font-size: 150%;
    font-weight: normal;
}

#footer {
    align-items: center;
    display: flex;
    height: 64px;
}

    #footer > select {
        margin-left: auto;
    }
