/* Defaults: */
::selection {
    background: #005ca2;
    color: #fff;
}

a {
    color: #005ca2;
    text-decoration: none;
}

button, input, select {
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 100%;
}

button, select {
    cursor: pointer;
}

button {
    background: #005ca2;
    border: 0;
    color: #fff;
    padding: 12px 24px;
}

/* Mimics an anchor */
button.a {
    background: 0;
    border-radius: 0;
    color: #005ca2;
    padding: 0;
}

input, select {
    border: 1px solid #ccc;
    outline: none;
    padding: 12px;
}

hr {
    background: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 16px;
}

label {
    display: block;
}

/* Classes: */
.green-text {
    color: #10b981;
}

.red-text {
    color: #ef4444;
}

.margin-0 {
    margin-top: 0;
}

.margin-1 {
    margin-top: 16px;
}

/* Loading: */
.spinner {
    animation: spin 700ms linear infinite;
    border-radius: 50%;
}

#app > .spinner {
    border: 8px solid silver;
    border-top: 8px solid #005ca2;
    bottom: 0;
    height: 48px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 48px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

/* Layout: */
body {
    background: rgb(245, 245, 245);
    font: normal 16px sans-serif;
    line-height: 1.5;
    margin: 0;
}

#wrapper {
    min-height: calc(100vh - 64px);
}

#header {
    background: #fff;
    border-bottom: 1px solid #ccc;
    height: 64px;
}

    #header > .container {
        align-items: center;
        display: flex;
        height: inherit;
    }

.container {
    margin: 0 auto;
    max-width: 90%;
    width: 1080px;
}

#logo {
    font-size: 125%;
    margin: 0;
}

#nav {
    margin-left: 16px;
}

    #nav > ul {
        margin: 0;
    }

        #nav > ul > li {
            display: inline-block;
            margin-left: 32px;
        }

            #nav > ul > li > a, #nav > ul > li > button {
                border-bottom: 1px solid #fff;
                padding: 6px 0;
            }

                #nav > ul > li > a.active, #nav > ul > li > a:hover, #nav > ul > li > button:hover {
                    border-bottom: 1px solid #005ca2;
                }

            #nav > ul > li > button {
                background: #fff;
                border-radius: 0;
                color: #005ca2;
            }

main {
    padding-top: 16px;
}

.small-container {
    margin: 0 auto;
    max-width: 95%;
    width: 512px;
}

.box, .paddingless-box {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 16px;
}

.box {
    padding: 24px 28px;
}

    .box input, .paddingless-box input {
        background: rgb(245, 245, 245);
    }

.paddingless-box header {
    margin: 20px 28px 0 28px;
}

.paddingless-box form {
    padding-bottom: 24px;
}

.paddingless-box nav > ul {
    list-style-type: none;
    margin: 16px 0 0 0;
}

    .paddingless-box nav > ul a {
        border-top: 1px solid #ccc;
        display: block;
        padding: 16px 28px;
    }

        .paddingless-box nav > ul a:hover {
            background: rgb(245, 245, 245);
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }

.paddingless-box hr {
    margin: 20px 0 28px 0;
}

.paddingless-box button, .paddingless-box .input, .paddingless-box p {
    margin-left: 28px;
    margin-right: 28px;
}

h1 {
    font-size: 150%;
    font-weight: normal;
    margin: 0;
}

p {
    margin: 16px 0 0 0;
}

ul {
    margin: 16px 0 0 18px;
    padding: 0;
}

form {
    margin-top: 16px;
}

    form .input, form button {
        margin-top: 16px;
    }

    form input {
        margin: 8px 0;
        width: 100%;
    }

#footer {
    align-items: center;
    display: flex;
    height: 64px;
}

    #footer > p {
        margin: 0;
    }

    #footer > select {
        background: 0;
        border: 0;
        margin-left: auto;
        padding: 0;
    }

#alerts {
    bottom: 0;
    position: fixed;
    right: 0;
}

.alert {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 0 24px 28px 0;
    padding: 24px 28px;
    width: 288px;
}

    .alert > p {
        margin: 0;
    }
