@using Template.Client.Areas.Identity.Pages
@inherits LayoutComponentBase

<div id="wrapper">
    <div id="header">
        <div class="container">
            <p id="logo">@Config.GetAppName()</p>
            <NavMenu />
        </div>
    </div>

    <main class="container">
        @Body
    </main>
</div>

<div id="footer" class="container">
    <p>&copy; @DateTime.Now.Year @Config.GetAppName(). @Localizer["AllRightsReserved"]</p>
    <CultureForm />
</div>

<div id="alerts">
    <AuthorizeView>
        <Authorized>
            <EmailConfirmationAlert />
        </Authorized>
    </AuthorizeView>
</div>
