@inherits LayoutComponentBase

<div id="wrapper">
    <div id="header">
        <div class="container">
            <p id="logo">@Config["App:Name"]</p>
            <NavMenu />
        </div>
    </div>

    <main class="container">
        @Body
    </main>
</div>

<div id="footer" class="container">
    <p>&copy; @Config["App:Name"]</p>
    <CultureForm />
</div>

<div id="alerts">
    <AuthorizeView>
        <Authorized>
            @if (!UserService.User.EmailConfirmed)
            {
                <div class="alert">
                    <p>Please confirm your email address.</p>
                </div>
            }
        </Authorized>
    </AuthorizeView>
</div>
