@inherits LayoutComponentBase

<div id="wrapper">
    <div id="header">
        <div class="container">
            <p id="logo">@Config["App:Name"]</p>
            <Nav />
        </div>
    </div>

    <main class="container">
        @Body
    </main>
</div>

<div id="footer" class="container">
    <p>&copy; @Config["App:Name"]</p>
    <CultureForm />
</div>
