@inherits LayoutComponentBase

<div id="header">
    <div class="container">
        <p id="logo">@Config["App:Name"]</p>
        <Nav />
    </div>
</div>

<main class="container">
    @Body
</main>
