<select value="@CultureService.GetCurrentCulture()" @onchange="CultureService.SetCurrentCulture">
    @foreach (var culture in CultureService.GetSupportedCultures().OrderBy(c => Localizer[c.Name]))
    {
        <option value="@culture">@Localizer[culture.Name]</option>
    }
</select>
