@using Template.Shared.Areas.Identity.Extensions

@if (Config.GetIdentityConfirmEmail() && !User.EmailConfirmed)
{
    <div class="alert">
        <p>@((MarkupString)Localizer["AConfirmationLinkHasBeenSentToEmail"].Replace("{email}", User.Email))</p>

        <div class="margin-1">
            @if (State == State.Unsubmitted)
            {
                <button class="a" @onclick="ResendEmailConfirmationUrl">@Localizer["ResendNewLink"]</button>
            }
            else if (State == State.Loading)
            {
                <div class="spinner"></div>
            }
            else if (State == State.Submitted)
            {
                <p class="green-text">@Localizer["ANewLinkHasBeenSent"]</p>
            }
        </div>
    </div>
}
