@page "/settings"
@attribute [Authorize]

<div class="small-container">
    <div class="paddingless-box">
        <header>
            <h1>@Localizer["Settings"]</h1>
        </header>

        <nav>
            <ul>
                <li>
                    <NavLink href="settings/account">@Localizer["AccountInformation"]</NavLink>
                </li>

                <li>
                    <NavLink href="settings/password">@Localizer["ChangeYourPassword"]</NavLink>
                </li>
            </ul>
        </nav>
    </div>
</div>
